.prueba {
color: red;
padding: 20px;
border: 2px solid;
margin: 20px;
font-style: oblique;
font-weight: 500;
font-family: 'Times New Roman', Times, serif;
text-decoration: underline;
text-transform: uppercase;
}
#Valentina {
    color: lightblue;
}
.parent {
    width: 100%;
    background-color: brown;
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: baseline;
    gap: 10px;
}
.child1 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 50px;
}

.child2 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border: 50px;
}
.child3 {
    
    background-color: yellow;
    border: 50px;
}
.child3:nth-last-child {
    width: 50px;
    height: 50px;
}

 @media screen and (min-width: 480px) {
    .parent {
    background-color: blue;
    flex-direction: row;
}
 }

