.prueba {
color: red;
padding: 20px;
border: 2px solid;
margin: 20px;
font-style: oblique;
font-weight: 500;
font-family: 'Times New Roman', Times, serif;
text-decoration: underline;
text-transform: uppercase;
}
#Valentina {
    color: lightblue;
}
.clase {
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}
.padre {

}
.primer_hijo {
position: fixed;
top: 20px;
bottom: 20px;

}
